.cercle1 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: yellow;
}

.cercle2 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: orange;
}

.cercle3 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: violet;
}

.cercle4 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: blue;
}

.cercle5 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: rgb(128, 0, 0);
}

.cercle6 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: red;
}

.cercle7 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: rgb(0, 211, 0);
}


.cercle8 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: white;
}


.cercle9 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: black;
}


.cercle10 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: blue;
}


.cercle11 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: rgb(128, 0, 0);
} 


.cercle12 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: red;
} 


.cercle13 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: rgb(0, 211, 0);
} 


.cercle14 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: yellow;
} 


.cercle15 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: orange;
} 


input {
    margin: .4rem;
  
}

h1 {
    background-color: gray;
    color: white;
    border-radius: 5px;
    width: 400px;
    text-align: center;
}

.color1 {
    display: flex;
    justify-content: right;
    align-content: right;
    flex-direction: column;
}


.color2 {
    display: flex;
    justify-content: right;
    flex-direction: column;
}


.parent {
    position: relative;
    width: 630px;
}
.selector {
    flex-grow:1;
}
.child {
    position: absolute;
    width: 630px;
    height: 945px;
    top: 0;
}
.child2 {
    z-index: 1;
}
.child3 {
    z-index: 5;
}

.position-texte {
    position: absolute;
    top: 250px; left: 280px;
    z-index:1000;

}

.texte {
    position: absolute;
    justify-content: right;
    align-content: right;
    flex-direction: column;
}


